<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script data-main="./app/js/app.js" src="./app/vendor/requireJs/require.js"></script>
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="./app/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./app/vendor/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./app/assets/styles/styles.css">
</head>
<body>
<div class="header">
    <a href="index.html">
        <div class="header-logo">
            <span>logo</span>
        </div>
    </a>

    <!---Mobile menu-->
    <div id="sidenav" class="sidenav">
        <a class="menu-btn close-btn">&times;</a>
        <ul>
            <li>
                <a id="home-btn" href="#">HOME</a>
                <ul class="mobile-dropdown">
                    <li>Pizza</li>
                    <li>Pizza</li>
                    <li>Pizza</li>
                </ul>
            </li>
            <li>
                <a class="menu-btn" href="#">NEWS</a>
            </li>
            <li>
                <a class="menu-btn" href="#">CONTACTS</a>
            </li>
        </ul>
    </div>

    <span class="open-mobile-menu">&#9776;</span>
    <!---/ Mobile menu-->


    <ul id="menu" class="header-menu">
        <li>
            HOME
            <ul class="dropdown">
                <li><p>Pizza</p></li>
                <li><p>Pizza</p></li>
                <li><p>Pizza</p></li>
            </ul>
        </li>
        <li>NEWS</li>
        <li>CONTACTS</li>
    </ul>

</div>
<div class="main-container">
    <!------ Slider-------->
    <div class="slider-container">

        <div class="slider" id="my-slider">
            <ul>
                <li>
                    <img src="app/assets/images/Pizza-Slider.png"/>
                </li>
                <li>
                    <img src="app/assets/images/Pizza-Slider.png"/>
                </li>
                <li>
                    <img src="app/assets/images/Pizza-Slider.png"/>
                </li>
                <li>
                    <img src="app/assets/images/Pizza-Slider.png"/>
                </li>
                <li>
                    <img src="app/assets/images/Pizza-Slider.png"/>
                </li>
                <li>
                    <img src="app/assets/images/Pizza-Slider.png"/>
                </li>
            </ul>
        </div>
        <ul id="dots">
        </ul>
    </div>

    <!------ /Slider-------->
    <p class="start-stop-btn text-center margin-top">
        <button id="start-stop" class="btn btn-lg btn-danger">Start/Stop</button>
    </p>

    <div class="container-fluid">
        <div id="pizza-description" class="margin-top">

        </div>
    </div>
    <div id="pizza-news-block" class="container-fluid">
        <div class="row margin-top">

            <div class="col-md-4 col-md-offset-1 hidden-sm hidden-xs">
                <div class="news">
                    <h3 class="news-title">News Block</h3>


                    <div class="news-thumb">
                        <img src="http://dummyimage.com/200x200/f0f/fff"/>
                        <p>post desc post desc post desc post desc post desc post desc post desc post desc post desc
                            post
                            desc post
                            desc post desc post desc post desc post desc post desc post desc post desc post desc post
                            desc
                            post desc
                            post desc post desc post desc post desc post desc post desc post desc post desc post desc
                            post
                            desc post
                            desc post desc post desc post desc post desc post desc post desc post desc post desc post
                            desc
                            post desc
                            post desc post desc post desc post desc post desc post desc post desc post desc post desc
                            post
                            desc post
                            desc post desc post desc post desc post desc post desc post desc post desc post desc post
                            desc
                            post desc
                            post desc post desc post desc post desc post desc post desc post desc post desc post desc
                            post
                            desc post
                        </p>
                    </div>

                    <div class="news-thumb">
                        <img src="http://dummyimage.com/200x200/f0f/fff"/>
                        <p>post desc post desc post desc post desc post desc post desc post desc post desc post desc
                            post
                            desc post
                            desc post desc post desc post desc post desc post desc post desc post desc post desc post
                            desc
                            post desc
                            post desc post desc post desc post desc post desc post desc post desc post desc post desc
                            post
                            desc post
                            desc post desc post desc post desc post desc post desc post desc post desc post desc post
                            desc
                            post desc
                            post desc post desc post desc post desc post desc post desc post desc post desc post desc
                            post
                            desc post
                            desc post desc post desc post desc post desc post desc post desc post desc post desc post
                            desc
                            post desc
                            post desc post desc post desc post desc post desc post desc post desc post desc post desc
                            post
                            desc post
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-7 col-sm-12 padding">
                <div id="pizza-content">

                </div>

            </div>


        </div>

    </div>

</div>

<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-3  text-center  margin-top text-footer">
                <p>ost desc post desc post desc post desc
                    post desc post desc post desc post
                    post desc post desc post desc post
                </p>
            </div>

            <ul class="col-md-2 col-sm-2 col-xs-12  col-md-offset-3  col-sm-offset-2 margin-top text-center">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">News</a>
                </li>
                <li>
                    <a href="">Contacts</a>
                </li>
            </ul>


            <ul class="social-menu col-md-2 col-sm-4 col-xs-12 pull-right text-center">
                <li>
                    <a href="#">
                        <span class="facebook-icon"></span>
                        <p>Facebook</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="vk-icon"></span>
                        <p>VK</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="twitter-icon"></span>
                        <p>Twitter</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script id="pizzaTemplate" type="text/template">
    <div class="pizza col-md-3 col-sm-5 col-xs-10 col-sm-push-1 col-sm-pull-1  col-xs-push-1">
            <div class="ingredients">
                <h2>Ingredients:</h2>
                <ul id="arrOfIngredients"><% _.each(ingredients, function(ingredient) { %>
                    <li class="ingr"><%=ingredient%></li>
                    <%});%>
                </ul>
            </div>
            <div class="thumb">
                <img class="img-responsive" alt="300x200" src='<%= img %>'>
            </div>
            <div class="caption">
                <h3 id="pizza-name"><%= name %></h3>
                <% if(chilly){ %>
                <img class="chilly" src='<%= chilly %>'>
                <% } %>
                <div class="pizza-price">
                    <span><%= price %></span>
                </div>

            </div>
        </div>
</script>

<script id="pizzaDescription" type="text/template">

    <div class="row">
        <div class="col-md-6">
            <img class="description-img"  src='<%= img %>'>
        </div>

        <div class="col-md-6">
            <div class="row">
                <h3 class="col-md-12 text-center"><%= name %></h3>

                <div class="descr-ingredients col-md-6">
                    <h2 class="text-center">Ingredients:</h2>
                    <ul class="text-center"><% _.each(ingredients, function(ingredient) { %>
                        <li class="ingr"><%=ingredient%></li>
                        <%});%>
                    </ul>
                </div>

                <div class="col-md-6 descr-price">
                    <div class="pizza-price">
                        <span class="col-md-12 text-center">Price: <%= price %></span>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn-lg btn-danger">Buy</button>
        </div>

    </div>

</script>

<!-- inject:js -->
<!-- endinject -->
</body>
</html>